@import "../../node_modules/bootstrap/scss/bootstrap.scss";
* {
  font-family: monospace;
  font-weight: bold;
  box-sizing: border-box;
}

@media screen and (min-width: 480px) {
  .headLine {
    width: 100%;
  }
  .navbar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 1em;

    color: white;
  }

  .carousel-container {
    width: 50%;
    height: 50%;
  }
}

.headLine {
  background-color: black;
  color: white;
  text-align: center;
  min-width: 100%;
  &:hover {
    background-color: indigo;
  }
}
.header {
  background-color: black;
  min-width: 100%;
}
@media screen and (max-width: 480px) {
  .headLine {
    width: 100%;
  }
  .navbar {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    background-color: black;
    color: white;
    height: auto;
  }
  .navItem {
    width: 100%;
  }
  .text {
    width: 100%;
  }

  .carousel-container {
    width: 95%;
    height: 95%;
  }
}

.navItem {
  cursor: pointer;
  color: white;
  border: none;
  background-color: transparent;
  background-position: 50% 50%;
  background-size: 0% 100%;
  height: 100%;
  width: 100%;
  transition: background-color 1s, transform 1s, color 0.1s;
  border-radius: 8px;
  &:hover {
    // height: 100%;

    background-color: white;
    color: black;
    transform: skewX(180deg);

    // background-size: 100% 100%;
  }
}

.main-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column-reverse;
}

.text {
  border: solid black;
  width: 500px;
  height: 450px;
  margin-top: 20px;
  margin: auto;
  background-color: black;
  color: white;
}

.carousel-container {
  margin: auto;
  //margin-top: 20px;
  height: 700px;
  width: 600px;
}

.carousel-item {
  height: 700px;
  width: 600px;
}
// .navDiv {
//   transition: background-size 1s, background-color 1s, transform 1s;
//   transform: skewX(180deg);
// }

.hide {
  display: none;
}
