@import "../../node_modules/bootstrap/scss/bootstrap.scss";
* {
  font-family: monospace;
  font-weight: bold;

  p {
    font-size: 1.2em;
  }
}

body {
  background-color: black;
}

//Boxen med alla flikknappar
.navBar {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr; //Alla knappar hamnar i varsin column
  margin: 1em;

  color: white;
}

//Sidans huvudrubrik
.headLine {
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
  min-width: 100%;
  cursor: pointer; //Gör att musen blir till ett finger vid beröring
}

//Varje flikknapp
.navItem {
  cursor: pointer;
  color: white;
  border: none; //Knapparna har ingen border, mer stilrent så
  background-color: transparent;
  height: 100%;
  width: 100%;
  transition: background-color 1s, transform 1s, color 0.1s;
  border-radius: 8px; //Runar av hörnen på knapparna
  &:hover {
    background-color: white;
    color: black;
    transform: skewX(180deg);
  }
}

//menyknappen som kommer fram när det är mobilskärm
.menuBtn {
  cursor: pointer;
  color: white;
  border: none;
  background-color: transparent;
  background-position: 50% 50%;
  background-size: 0% 100%;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  display: none; //Är gömd by default
}

//samlingsklass för flikarna
.navDiv {
  position: absolute;
  height: 100%;
  width: 100%;
}

.home {
  text-align: center;
  display: flex;

  justify-content: center;
  color: white;

  .aboutMe {
    p {
      background-color: white;
      color: black;
      padding: 40px;
    }
  }
}

//Fliken med mitt CV och info om mig
.cvPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;

  p {
    background-color: white;
    padding: 40px;
    color: black;
  }
}

//Fliken med mina projekt
.projectPage {
  text-align: center;
  color: white;
  .carousel-container {
    margin: auto;
    width: 50%;
    height: 50%;
    min-width: 400px;
    padding: 40px;
    margin-top: 20px;
    margin: auto;
    .projectDesc {
      font-size: 1.4em;
    }
  }
}

//Fliken med info om Nackademin och utbildningen
.nacka {
  height: 100%;
  width: 100%;
  display: grid;

  justify-items: center;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;

  .text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: auto;
    height: auto;
    padding: 40px;
    background-color: black;
    color: white;

    p {
      background-color: white;
      color: black;
      margin-bottom: 5px;
    }
  }
  .nackaImgContainer {
    color: white;
    .nackaImg {
      object-fit: cover;
      width: 100%;
    }
  }
}

//Fliken med kontaktlänkarna
.kontakt {
  text-align: center;
  color: white;
  .links {
    display: flex;

    justify-content: center;
    a {
      margin: 10px;
      color: black;
      background-color: white;
      padding: 40px;

      min-width: 220px;
    }
  }
}

//Mixin med inställningar för anpassning till mobilskärm
@mixin phone-screen {
  .headLine {
    width: 100%;
  }
  .navBar {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-around;
    height: auto;
  }
  .navItem {
    width: 100%;
    font-size: 1.2em;
    margin-bottom: 25px;
  }

  .carousel-container {
    width: 100%;
    height: 100%;
  }
  .menuBtn {
    display: inline;
  }

  .home {
    min-width: 90%;
    padding: 10px;
  }
  .nacka {
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    .text {
      width: auto;
      height: 100%;
    }
    #nackaImg2 {
      width: 100%;
      order: 4;
    }
  }

  .kontakt {
    .links {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50% 50%;

      justify-content: space-around;
    }

    a {
      width: 220px;
    }
  }
}

//Media query
@media screen and (max-width: 480px) {
  @include phone-screen(); //Anropar mobilskärmens mixin
}

//Hjälpklasser
.hide {
  display: none;
}
